# Ignore the bin subfolder 
**/bin/

#Ignore pycache
**/__pycache__/

# Ignore output folders 
**/output/

#ignore parameter files
*parameters*.txt

#ignore database files
*.db

#ignore running main files
**/run_gbas_gui.py

#ignore toml files for building
**/pyproject.toml